body {
  background-color: #EFEFEF;
  color: #171B1F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.primary {
  color: #7DBDA3;
}

.secondary {
  color: #437CB0;
}

.danger {
  color: #DD6272;
}

.warning {
  color: #E6A04C;
}

#current-directory {
  background-color: #F7F7F7;
  box-sizing: border-box;
  color: #89909A;
  padding: 1rem .5rem;
}

#current-directory #container {
  display: grid;
  grid-template-columns: minmax(200px, 30%) minmax(400px, 70%);
  margin: 0 auto;
  width: 95%;
}

#current-directory #container #dirname {
  grid-column: 1 / 1;
}

#current-directory #container #dirname h2 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  text-align: left;
}

.code {
  background-color: #EFEFEF;
  color: #DD6272;
  border-radius: .25rem;
  margin: 0;
  padding: .3rem .6rem;
  text-align: left;
  letter-spacing: .1rem;
}

#current-directory #container #dirname code {
  margin-bottom: 1rem;
}

#current-directory #container #toolbar {
  grid-column: 2 / 2;
}

#file-table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 95%;
}

#file-table thead {
  text-align: left;
}

#file-table thead th {
  box-sizing: border-box;
  color: #7c7c7c;
  font-weight: 300;
  padding: 1rem;
}

#file-table tbody {
  background-color: #ffffff;
}

#file-table tbody tr td {
  box-sizing: border-box;
  padding: 1rem;
}

#file-table tbody tr td a {
  color: #437CB0;
  cursor: pointer;
  text-decoration: underline;
}

#file-table tbody tr:hover {
  background-color: #f8f8f8;
}

#fs-footer {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 95%;
}

#fs-footer small {
  color: #89909A;
}

#fs-footer small {
  color: #89909A;
}
