[package]
name = "http-server"
version = "0.7.4"
authors = ["Esteban Borai <estebanborai@gmail.com>"]
edition = "2018"
description = "Simple and configurable command-line HTTP server"
repository = "https://github.com/EstebanBorai/http-server"
categories = ["web-programming", "web-programming::http-server"]
keywords = ["configurable", "http", "server", "serve", "static"]
license = "MIT OR Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "http_server_lib"
path = "src/lib.rs"

[[bin]]
name = "http-server"
path = "src/bin/main.rs"

[[bench]]
name = "file_explorer"
harness = false

[features]
dhat-profiling = ["dhat"]

[dependencies]
anyhow = "1.0.57"
async-stream = "0.3.3"
async-trait = "0.1.56"
chrono = "0.4.19"
dhat = { version = "0.2.4", optional = true }
futures = "0.3.21"
flate2 = "1.0.24"
http = "0.2.7"
http-auth-basic = "0.3.3"
handlebars = "4.3.1"
hyper = { version = "0.14.19", features = ["http1", "server", "stream", "tcp"] }
hyper-rustls = { version = "0.23.0", features = ["webpki-roots"] }
local-ip-address = "0.4.4"
mime_guess = "2.0.4"
rustls = "0.20.6"
rustls-pemfile = "1.0.0"
termcolor = "1.1.3"
tokio = { version = "1.19.2", features = ["fs", "rt-multi-thread", "signal", "macros"] }
tokio-rustls = "0.23.4"
toml = "0.5.9"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
structopt = { version = "0.3.26", default-features = false }

[dev-dependencies]
criterion = { version = "0.3.5", features = ["async_tokio", "html_reports"] }
hyper = { version = "0.14.19", features = ["client"] }
tokio = { version = "1.19.2", features = ["full"] }
lazy_static = "1.4.0"

[profile.release]
debug = 1
