[package]
name = "http-server"
version = "0.8.8"
authors = ["Esteban Borai <estebanborai@gmail.com>"]
edition = "2021"
description = "Simple and configurable command-line HTTP server"
repository = "https://github.com/EstebanBorai/http-server"
categories = ["web-programming", "web-programming::http-server"]
keywords = ["configurable", "http", "server", "serve", "static"]
license = "MIT OR Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "http_server_lib"
path = "src/lib.rs"

[[bin]]
name = "http-server"
path = "src/bin/main.rs"

[[bench]]
name = "file_explorer"
harness = false

[features]
dhat-profiling = ["dhat"]

[dependencies]
anyhow = "1.0.75"
async-stream = "0.3.5"
async-trait = "0.1.74"
chrono = { version = "0.4.31", features = ["serde"] }
dhat = { version = "0.2.4", optional = true }
futures = "0.3.29"
flate2 = "1.0.28"
http = "0.2.11"
http-auth-basic = "0.3.3"
handlebars = "4.3.7"
hyper = { version = "0.14.27", features = ["http1", "server", "stream", "tcp"] }
hyper-rustls = { version = "0.23.0", features = ["webpki-roots"] }
local-ip-address = "0.6.1"
mime_guess = "2.0.4"
percent-encoding = "2.2.0"
rustls = "0.20.6"
rustls-pemfile = "1.0.4"
serde = { version = "1.0.192", features = ["derive"] }
serde_json = "1.0.108"
structopt = { version = "0.3.26", default-features = false }
termcolor = "1.1.3"
tokio = { version = "1.29.1", features = [
    "fs",
    "rt-multi-thread",
    "signal",
    "macros",
] }
tokio-rustls = "0.26.0"
toml = "0.7.6"
humansize = "2.1.3"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["async_tokio", "html_reports"] }
hyper = { version = "0.14.27", features = ["client"] }
tokio = { version = "1.29.1", features = ["full"] }
lazy_static = "1.4.0"

[profile.release]
debug = 1
