[package]
name = "http-server"
version = "0.9.0"
authors = ["Esteban Borai <estebanborai@gmail.com>"]
edition = "2021"
description = "Simple and configurable command-line HTTP server"
repository = "https://github.com/http-server-rs/http-server"
categories = ["web-programming", "web-programming::http-server"]
keywords = ["configurable", "http", "server", "serve", "static"]
license = "MIT OR Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "http-server"
path = "src/main.rs"

[dependencies]
axum = "0.6.18"
color-eyre = "0.6.2"
clap = { version = "4.2.7", features = ["derive"] }
tokio = { version = "1.28.1", features = ["macros", "rt-multi-thread"] }

[profile.release]
debug = 1


[profile.dev.package.backtrace]
opt-level = 1
