name: build
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Builds for ${{ matrix.name }} (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: linux-x64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            cross: false
          - name: linux-arm64
            os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            cross: true
          - name: macos-x64
            os: macos-latest
            target: x86_64-apple-darwin
            cross: false
          - name: macos-arm64
            os: macos-latest
            target: aarch64-apple-darwin
            cross: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: |
            wasm32-unknown-unknown
            ${{ matrix.target }}

      - name: Install Cross
        if: matrix.cross
        uses: taiki-e/install-action@v2
        with:
          tool: cross

      - name: Setup Cargo Binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Rust Binaries
        run: |
          cargo binstall -y --force leptosfmt
          cargo binstall -y --force trunk

      - name: Build
        run: make release TARGET=${{ matrix.target }}
