name: clippy
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Setup Cargo Binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Rust Binaries
        run: |
          cargo binstall -y --force leptosfmt
          cargo binstall -y --force trunk

      - name: Release
        run: make release TARGET=x86_64-unknown-linux-gnu

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
