name: test
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Builds for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        name:
          - linux
          - macos

        include:
          - name: linux
            os: ubuntu-latest
          - name: macos
            os: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Setup Cargo Binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Rust Binaries
        run: |
          cargo binstall -y --force leptosfmt
          cargo binstall -y --force trunk

      - name: Run Tests
        run: |
          TARGET=$(rustc --version --verbose | grep host | cut -d' ' -f2) make test
